@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}
html{
    font-size: 68.4%;
}

body,.container,.header{
    display: flex;
}
body,.container{
    justify-content: center;
    flex-direction: column;
    color: #fff;
}
.trans{
    background: transparent;
    color: #FFFFFF;
    border-radius: 5px;
}
body{
    height: 100vh;
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,91,1) 30%, rgba(0,212,255,1) 100%)
}
.container{
    background-color: #1F2937;
    width: 400px;
}
.header{
    align-items: center;
    padding: 1.2rem;
    width: 100%;
    background-color: #1F2937;
}
option{
    background-color: #1F2937;
    padding: 5px;
    border-bottom: 1px solid green;
}
select{
    padding: 1rem;
    margin-right: 5px;
    margin-left: 5px;
    outline: none;
}
p{
    text-align: center;
    padding: 10px;
    color: #D5D4D8;
}
input{
    width: 50px;
    height: 4rem;
}
select{
    flex-grow: 2;  
}
button{
    border:1px solid  #D1D5DB;
    cursor: pointer;
    padding: 1rem;
}
button:hover{
    background: #fff;
    color: #1F2937;
}
button:active{
    transform: scale(.89);
}
.sec{
    display: flex;
}
.space{
    
    height: 300px;
    width: 79px;
}